<% include ../partials/header %> 
    <header class="jumbotron text-white bg-dark">
        <div class="container">
            <h1 class="display-4"><i class="far fa-laugh-beam"></i> Welcome To Furry Tales!</h1>
            <p>View our hand-picked pets from all over the world</p>
            <p>
            <a class="btn btn-success btn-lg" href="/pets/new"><i class="fas fa-paw"></i> Add New Pet</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% pets.forEach(function(pet){ %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card text-white bg-dark">
                    <img class="img" src="<%= pet.image %>">
                    <div class="card-body">
                        <h4><%= pet.name %></h4>
                        <p>
                            <a href="/pets/<%= pet._id %>" class="btn btn-success">More Info</a>
                        </p>
                </div>                  
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
