.show {
	width: 100%;
	height: 600px;
}

@media (max-width: 992px) {
	.show {
		width: 100%;
		height: 400px;
	}
}

.card {
	padding: 0;
}

.spacer {
	margin-top: 4.333rem;
}

hr {
	width: 100%;
	border-top: 1.5px solid black;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
